/*Create an HTML file and a CSS file. Make the background color of the body red when the width of the viewport is smaller than 480px, green when the viewport width is bigger than (or equal to) 480px and smaller than 1024px, and blue when the viewport is bigger than (or equal to) 1024px.*/


/*body {
    background-color: red;
}

@media only screen and (min-width: 480px) {
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: blue;
    }
}*/

/*Add three div: one div with the id="small", one div with the id="medium", another div with the id="large". In each element add the word small, medium and large respectively as content for display purposes.

Make it so only one div is displayed, according to the width of the current viewport.*/

/*#medium, #large {
    display: none;
}

@media only screen and (min-width: 480px) {
    #small {
        display: none;
    }

    #medium {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    #small {
        display: none;
    }

    #medium {
        display: none;
    }

    #large {
        display: block;
    }
}*/

/*In each div, add a title and a few paragraphs (lorem ipsum, and such). Give the title a descriptive text (for example: "Content for smartphones") Change the font size according to the device type.*/

/*
body {
    background-color: red;
    font-size: 2rem;
}

#medium, #large {
    display: none;
}


@media only screen and (min-width: 480px) {
    body {
        background-color: green;
        font-size: 1.5rem;
    }

    #small {
        display: none;
    }

    #medium {
        display: block;
    }
}


@media only screen and (min-width: 1024px) {
    body {
        background-color: blue;
        font-size: 1rem;
    }

    #small {
        display: none;
    }

    #medium {
        display: none;
    }

    #large {
        display: block;
    }
}*/

/*Make it so that :

    if small, the 3 divs are stacked on top of one and other.
    if medium, the first div takes 2/3 of width, the second 1/3 of width and the third the full width.
    if big, the 3 divs should be next to one another.
*/

body {
    background-color: red;
    font-size: 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

#small, #medium, #large {
    border: 2px solid orange;
}

/*medium*/
@media only screen and (min-width: 480px) {
    body {
        background-color: green;
        font-size: 1.5rem;
    }

    #small {
        flex:2
    }

    #medium {
        flex: 1;
    }
}

/*large*/
@media only screen and (min-width: 1024px) {
    body {
        background-color: blue;
        font-size: 1rem;
    }

    #small, #medium, #large {
        flex: 1;
    }
}