/*Create an HTML file and a CSS file. Make the background color of the body red when the width of the viewport is smaller than 480px, green when the viewport width is bigger than (or equal to) 480px and smaller than 1024px, and blue when the viewport is bigger than (or equal to) 1024px.*/


body {
    background-color: red;
}

@media only screen and (min-width: 480px) {
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: blue;
    }
}
